body {
  font-family: Big Caslon;
  background-color: #b19cd9;
}

h1 {
  color: Azure;
}

.header {
  background-color: CornflowerBlue;
  position: fixed;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
}

p.title {
  font-weight: bold;
}
