* {
  font-family: Georgia;
  background-color: #b19cd9;
}
 
.Main_title {
  padding-top: 10%;
  padding-left: 5%;
}

  h1 {
    font-size: 100px;
    font-weight: 100;
    color: white;
  }
  
  h2 {
    font-size: 70px;
    padding: 200px 50px;
  }
  p, 
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
